{% extends 'users/header.html' %}
{% block title %}About Us{% endblock%}
{% block body%}

    <div class="container">
        <br><br>
        <div class="jumbotron">
        <h2 align="center">-- Our Mission --</h2>
            <br>
            <h4 align="center">We’re entering a new world in which data may be more important than software.</h4>
    <br>
            <br>
        <h4>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAfter collecting Data it is also important to do
            analysis of that data.Our website can able to do both things. Using analysis we can able to take
        important decisions.Using our website you can find out what actually people thinks
        using thier responses. Thank You for Visiting. We hope that our website is helpful to You.</h4>

    </div>
      <BR><BR>  <div class="jumbotron">
        <h2>Creator:</h2>
        <h4>Priyank Chaudhari</h4>
        <h4>Swar Patel</h4>
        <h4>Vyom Pathak</h4>
    </div>
    </div>
{% endblock%}