{% extends 'users/header.html' %}
{% block title %}Login Page {% endblock %}
{% block body %}
<br>
<br>
 <div class="container">
<div class="jumbotron">
    <center>
        <h1>Reset Password</h1>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="col-md-4">
            <form action="" method="POST">
                {% csrf_token %}
                {%for fields in form %}
                {{fields.errors}}
                {{fields.label_tag}}
                 <div class="form-group">
                {{fields}}
                 </div>
                {%endfor%}
                <button type="submit" class="btn btn-success">Reset Password</button>
            </form>
        </div>
    </center>
    </div>
 </div>
{% endblock %}