{% extends 'users/header.html' %}
{%block title%}Sign Up {%endblock%}

{%block body%}
<br><br>
 <div class="container">
     <br>
<div class="jumbotron">

<center>
    <h1 style="font-size:50px;">Sign Up</h1>
    <br>
    <br>
    <br>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'users/form-template.html' %}
            <div>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </center>
    <div class="jumbotron">
    </div>
</div>
    {% endblock %}