{% extends 'users/header.html' %}
{%block title%}
     ABOUT FORM
{%endblock%}
{%block body%}
<br>
<br>
<div class="container jumbotron" style="background-color:#fffae6;">
    <h1>{{form}}</h1>
    <br>
    <h4>Questions: </h4>
    <br>
    {%for question in questions%}
    <br><br><br>
    <div class="card border-primary">
              <div class="card-header">
                  <div class="row">
                      <font size="5">
                          {{question.ques_text}}
                      </font>
                      <div class="ml-auto">
                          {% if question.ques_type == "chk" %}
                            <img src="https://image.flaticon.com/icons/png/512/48/48742.png" alt="{{question.ques_type}}" width="30" height="30">
                          {% elif question.ques_type == "cho" %}
                            <img src="https://png.pngtree.com/svg/20160616/235e93e18b.svg" alt="{{question.ques_type}}" width="40" height="37">
                          {% elif question.ques_type == "tx" %}
                            <img src="https://image.flaticon.com/icons/png/512/15/15462.png" alt="{{question.ques_type}}" width="40" height="37">
                          {% elif question.ques_type == "rg" %}
                            <img src="https://www.freeiconspng.com/uploads/black-star-icon-6.png" alt="{{question.ques_type}}" width="40" height="37">

                          {%else%}
                            {{question.ques_type}}
                          {%endif%}

                      </div>
                  </div>
              </div>
               <div class="card-body">
                   <p class="card-text">
                       {%if question.ques_type == "cho" or question.ques_type == "chk" %}
                            {%for option in question.question_as_list %}
                                <font size="4px">
                                    <div class="">{{option}}</div>
                                </font>
                            {%endfor%}
                       {%else%}
                                <font size="4px">
                                    <div class="">{{question.ques_option}}</div>
                                </font>
                       {%endif%}


                   </p>
                </div>
                <div class="card-footer" >
                    <div class="row">
                        <div class="ml-auto">
                            <a href="#">VIEW STATS</a>
                        </div>
                    </div>
                </div>
          </div>
    {%endfor%}
</div>
{%endblock%}