{%extends 'users/header.html' %}
{%block title %}Update Form{% endblock %}
{%block body%}
<div class="container">
    <br>
    <br>
<div class="jumbotron">
    <center>
        <h1>
            Update Form
        </h1><br><br><br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{field.errors}}</span>
            <label class="control-label col-sm-2">{{field.label_tag}}</label>
                <div class="col-sm-10">{{field}}</div>
        </div>
    </div>
    {%endfor%}
        <div>
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
    </center>
</div>
    </div>
{%endblock%}