{% extends 'users/header.html' %}
{% block title %}
    Home
{% endblock %}

{% block body %}
{% load staticfiles %}
<!--<div class="container">-->
    <!--<br><br><div class="jumbotron"><h1>This is Index of Feedback App</h1></div>-->

<!--</div>-->
<br>
{%if user.is_authenticated%}
<div class="container">
    <div class="jumbotron">
        <font size=10px>Start a new Form</font><br><br>
        <div class="row">
            <div class="card" style="width:200px">
                <a href="{% url 'feedback:form-add' %}">
                    <!--<img  class="card-img-top" style="width:100px align:center;" src="https://www.freeiconspng.com/uploads/add-icons-free-icons-in-aeon&#45;&#45;icon-search-engine&#45;&#45;12.png" >-->
                    <img  class="card-img-top" style="width:100px align:center;" src="{% static 'feedback/image/add.png' %}" >
                    <div class="card-body">
                        <h6 class="card-title">CREATE FORM</h6>
                    </div>
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="card" style="width:200px">
                <a href="#">
                    <img  class="card-img-top" style="width:100px align:center;" src="https://image.flaticon.com/icons/svg/55/55238.svg" alt="Event">
                    <div class="card-body">
                        <h6 class="card-title">Event Registration</h6>
                    </div>
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="card" style="width:200px">
                <a href="/feedback/form/add/course">
                    <!--<img  class="card-img-top" style="width:100px align:center;" src="https://previews.123rf.com/images/keltt/keltt1512/keltt151200002/50001994-icon-for-high-school-graduation-symbol-with-black-cap-silhouette.jpg" alt="course" >-->
                    <img  class="card-img-top" style="width:100px align:center;" src="{% static 'feedback/image/hat.jpg' %}" alt="course" >

                    <div class="card-body">
                        <h6 class="card-title">Course Evaluation</h6>
                    </div>
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="card" style="width:200px">
                <a href="#">
                    <!--<img  class="card-img-top" style="width:200px; align:center;" src="https://image.freepik.com/free-icon/birthday-cake-symbol_318-10161.jpg" alt="party invite">-->
                    <img  class="card-img-top" style="width:200px; align:center;" src="{% static 'feedback/image/cake.jpg' %}" alt="party invite">
                    <div class="card-body">
                        <h6 class="card-title">Party Invite</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="jumbotron">
            <font size=10px>My Form</font><br><br><br>
        {% for form in userform %}
        &nbsp;&nbsp;&nbsp;&nbsp;

          <div class="card border-primary" style="width: 40rem;">
              <div class="card-header">
                  <div class="row"><a href="form/about/{{form.id}}"><font size="5">{{form.form_heading}}</font></a>
                      <div class="ml-auto">
                          <form action="manage" method="get">
                              {% csrf_token %}
                              <button class="btn btn-outline-primary" type="submit" name="myaction" value="edit">Edit</button>
                              <button class="btn btn-outline-success" type="submit" name="myaction" value="share">Share</button>
                              <input type="hidden" name="formid" value="{{form.id}}">
                          </form>
                      </div>
                  </div>
              </div>
               <div class="card-body">
                   <!--<p class="card-text">-->
                       <!--<font size="5px">Link:&nbsp;&nbsp;&nbsp;&nbsp;</font>-->
                       <!--<font size="3">{{form.form_link}}</font>-->
                   <!--</p>-->
                    <p class="card-text">
                       <font size="5px">Posted:&nbsp;&nbsp;&nbsp;&nbsp;</font>
                       <font size="6">{{form.form_posted}}</font>
                   </p>
                   <p class="card-text">
                       <font size="5px">Status:&nbsp;&nbsp;&nbsp;&nbsp;</font>
                       <font size="10">
                           {% if form.form_status == "DA" %}
                           <!--{{form.form_status}}-->
                                Deactive
                           {% else %}
                                Active
                           {% endif %}
                       </font>
                   </p>
                </div>
                <div class="card-footer" >
                   <form action="manage" method="get">
                       {% csrf_token %}
                       <input type="hidden" name="formid" value="{{form.id}}">
                        <div class="row ">
                            <div class="col-md-2">
                                <button class="btn btn-info" type="submit" name="myaction" value="response">Response</button>
                            </div>
                            <div class="col-md-3">
                                <a href="form/about/{{form.id}}" class="btn btn-dark">Questions</a>
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-success" type="submit" name="myaction" value="addquestion">Add Question</button>
                                <button class="btn btn-danger" type="submit" name="myaction" value="remove">Remove</button>
                                <!--<a href="formresp/{{form.id}}">Give answer</a>-->
                            </div>
                        </div>
                   </form>
                </div>
          </div>
        {% endfor %}
         {% if is_paginated %}
        <br><br>
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

        </div>
    <div class="jumbotron">
        <font size=10px>Make Respose</font><br><br><br><br>
        <br>
        {% if not responseform %}
            <font size=5px>No Resposes to make</font><br>
        {% endif%}
        {% for form in responseform %}
            {% if form.form.form_status == "AC"%}
            <div class="card border-primary" style="width: 40rem;">
                     <center><font size="7">{{form.form.form_heading}}</font></center>
                    <input type="hidden" name="formid" value="{{form.form.id}}">
                <br><a href="formresp/{{form.form.id}}" class="btn btn-success">Give answer</a>
            </div>
            {%else%}
            <div class="card border-primary" style="width: 40rem;">
                     <center><font size="7">{{form.form.form_heading}}</font></center>
                    <input type="hidden" name="formid" value="{{form.form.id}}">
                <br><a href="#" class="btn btn-success">Not available Currently</a>
            </div>

            {%endif%}

        {% endfor %}
        </div>
    </div>
{%else%}
<div class="container">
    <center>
    <div class="jumbotron"><a href="/users/login" class="btn btn-danger" style="font-size:50px;">Login Required</a></div>
        </center>
</div>
{%endif%}

{% endblock%}
