{%extends 'users/header.html' %}
{%block title %}Share Form{% endblock %}
{%block body%}
<div class="container">
    <br><br>

    <div class="jumbotron">
    <center>

            <form action="/feedback/manage" method="get">
                        {% csrf_token %}
                    <input type="hidden" value="{{formid}}" name="formid">
                    <div class="form-group">
                        <h1>Email</h1>
                        <br><br>
                        <input type="text" name="email" class="form-control" style="width:100%;">
                        <br><br>
                        <button class="btn btn-success" type="submit" name="share" value="share">Share</button>
                    </div>
            </form>
    </center>
    </div>
</div>
{% endblock %}